archive/skills/pptx/scripts/office/schemas/ecma/fouth-edition/dc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://purl.org/dc/elements/1.1/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  elementFormDefault="qualified">

  <xs:element name="creator" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="identifier" type="xs:string"/>
  <xs:element name="language" type="xs:string"/>
  <xs:element name="subject" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
</xs:schema>
